body {
    margin: 0;
    padding: 0;
    background: #fafaff;
    color: #222;
    font-family: Josefin Sans;
}

/* Top bar */
.topbar {
    background-color: #8434f4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    font-size: 14px;
}

.left span,
.right a,
.right .dropdown {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.left span i,
.right a i,
.right .dropdown i {
    margin-right: 6px;
}

.right {
    display: flex;
    align-items: center;
}

.right a:hover,
.right .dropdown:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Hearder */
.header-content {
    background-color: whitesmoke;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-content a {
    width: 20px;
    height: 10px;
    color: #111;
    text-decoration: none;
    padding: 0px 30px 0 10px;
    margin-right: 10px;
}

.header-content nav {
    align-self: center;

}

.header-content h2 {
    color: #111;
    font-size: 50px;
    padding-left: 280px;
    align-self: center;
}

.header-content .home-active {
    color: #e02174;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f0ff;
    width: 150px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}

.dropdown-content a {
    color: #333;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    white-space: nowrap;
}

.dropdown-content a:last-child {
    margin-bottom: 0;
}

.nav-dropdown:hover .dropdown-content {
    display: block;
}

/* Search bar */
.search {
    display: flex;
    width: 300px;
    height: 30px;
    overflow: hidden;
}

.search-input {
    padding: 10px 0 0 0;
    border: none;
    outline: none;
    font-size: 16px;
}

#srch-btn {
    background-color: #fb2e86;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#srch-btn:hover {
    background-color: #e02174;
}


/* Accound */
.account {
    background: #f1defc;
    ;
    padding: 30px 0 10px 300px;
    height: 300px;
}

.account h2 {
    padding-top: 80px;
    justify-content: center;
    align-self: center;
    margin: 0 0 5px 0;
    font-size: 35px;
}

.account span {
    justify-content: center;
    align-self: center;
    color: #777;
    font-size: 14px;
}

.account .active {
    color: #fb2e86;
}

/* Login form */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    margin: 40px 0;
}

.login-form {
    background: #fff;
    box-shadow: 0 4px 24px #e4e4e4;
    padding: 35px 40px;
    border-radius: 8px;
    width: 320px;
    text-align: center;
}

.login-form h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.login-form p {
    font-size: 12px;
    color: #777;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px 12px;
    margin: 15px 0 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px;
}

.login-form .forgot {
    display: block;
    text-align: left;
    font-size: 12px;
    color: gray;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 5px;
}

.login-form button {
    width: 100%;
    background: #fb2e86;
    color: #fff;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 700;
}

.login-form button:hover {
    background: #a95fd2;
}

.signup-text {
    color: #777;
    font-size: 12px;
}

.signup-text a {
    color: gray;
    text-decoration: none;
}

/* Brand image */
.logos {
    text-align: center;
    margin: 40px 0 20px 0;
    color: #ccc;
}

.logos img {
    margin: 0 20px;
    font-size: 20px;
    width: 650px;
}

/* Footer */

.footer {
    background-color: #f1e5fd;
    padding: 40px 20px;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section h1,
.footer-section h3 {
    color: #000;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    color: lightslategrey;
}

.footer-section p {
    color: lightslategrey;
}

.footer-section h1 {
    font-size: 40px;
}

.footer-section a {
    text-decoration: none;
}

.signup {
    display: flex;
    margin-bottom: 10px;
}

.signup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
    outline: none;
}

.signup button {
    background-color: #fb2e86;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.footer-bottom {
    background-color: #f1defc;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
}

.footer-bottom p {
    color: #777;
    padding-left: 20%;
}

.social-icons a {
    margin-left: 15px;
    color: #444;
    font-size: 16px;
    text-decoration: none;
    background-color: navy;
    color: #ddd;
    width: 20px;
    height: 20px;
    padding: 7px;
    border-radius: 50% 50% 50% 50%;
}