* {
    margin: 0%;
    padding: 0%;
    font-family: josefin sans regular;
}

.menu-toggle {
    font-size: 24px;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    justify-content: right;
    /* color: #000; */
}

/* Hearder */
.header-content {
    background-color: whitesmoke;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-content a {
    width: 20px;
    height: 10px;
    color: #111;
    text-decoration: none;
    padding: 0px 30px 0 10px;
    margin-right: 10px;
}

.header-content nav {
    align-self: center;

}

.header-content h2 {
    color: #111;
    font-size: 50px;
    padding-left: 280px;
    align-self: center;
}

.header-content .home-active {
    color: #e02174;
}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.nav-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3f0ff;
    width: 150px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}

.dropdown-content a {
    color: #333;
    padding: 10px 10px;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
    white-space: nowrap;
}

.dropdown-content a:last-child {
    margin-bottom: 0;
}

.nav-dropdown:hover .dropdown-content {
    display: block;
}

/* Search bar */
.search {
    display: flex;
    width: 300px;
    height: 30px;
    overflow: hidden;
}

.search-input {
    padding: 10px 0 0 0;
    border: none;
    outline: none;
    font-size: 16px;
}

#srch-btn {
    background-color: #fb2e86;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#srch-btn:hover {
    background-color: #e02174;
}


/* Accound */
.account {
    background: #f1defc;
    font-family: lato;
    padding: 30px 0 10px 300px;
    height: 300px;
}

.account h2 {
    padding-top: 80px;
    justify-content: center;
    align-self: center;
    margin: 0 0 5px 0;
    font-size: 35px;
}

.account span {
    justify-content: center;
    align-self: center;
    color: #777;
    font-size: 14px;
}

.account .active {
    color: #fb2e86;
}

/* Top bar */
.topbar {
    background-color: #8434f4;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 50px;
    font-size: 14px;
}

.left span,
.right a,
.right .dropdown {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.left span i,
.right a i,
.right .dropdown i {
    margin-right: 6px;
}

.right {
    display: flex;
    align-items: center;
}

.right a:hover,
.right .dropdown:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* MAIN */
.main-cont {
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 220px);
    justify-content: center;
    align-items: center;
}

.items>img {
    height: 150px;
    width: 150px;
}

.info {

    background-color: rgb(242, 246, 247);
    height: 220px;
    width: 1287.5px;
}

.info-main {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 70px;
    font-size: 30px;
    margin-left: 120px;
    font-weight: bold;

}

.items-list {
    position: relative;
    top: 72px;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: -30px;
    gap: 6px;

}

.info-items {
    list-style: none;
    display: flex;
    flex-direction: row;
}



.panel>img {

    justify-content: center;
    align-items: center;
    width: 650px;

    margin-left: 280px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer {
    background-color: #f1e5fd;
    /* background-color: #444; */
    padding: 40px 20px;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section h1,
.footer-section h3 {
    color: #000;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
    color: lightslategrey;
}

.footer-section p {
    color: lightslategrey;
}

.footer-section h1 {
    font-size: 40px;
}

.footer-section a {
    text-decoration: none;
}

.signup {
    display: flex;
    margin-bottom: 10px;
}

.signup input {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
    outline: none;
}

.signup button {
    background-color: #fb2e86;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.footer-bottom {
    background-color: #f1defc;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
}

.footer-bottom p {
    color: #777;
    padding-left: 20%;
}

.social-icons a {
    margin-left: 15px;
    color: #444;
    font-size: 16px;
    text-decoration: none;
    background-color: navy;
    color: #ddd;
    width: 20px;
    height: 20px;
    padding: 7px;
    border-radius: 50% 50% 50% 50%;
}

@media screen and (max-width: 576px) {

    .topbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        font-size: 12px;
    }

    .left,
    .right {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    .right a,
    .right .dropdown {
        margin: 5px 0;
    }

    #navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    #navbar.show-menu {
        display: block;
    }

    #navbar a {
        padding: 10px 0;
    }


    .header-content {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

    .header-content h2 {
        font-size: 24px;
        padding-left: 0;
        margin-bottom: 10px;
    }


    .search {
        width: 100%;
        margin-top: 10px;
    }

    .account {
        padding: 20px;
        height: auto;
        text-align: center;
    }

    .account h2 {
        font-size: 24px;
        padding-top: 20px;
    }

    .main-cont {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
    }

    .items>img {
        height: 100px;
        width: 100px;
    }

    .info {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .info-main,
    .items-list {
        margin-left: 10px;
        font-size: 20px;
        flex-direction: column;
    }

    .panel>img {
        width: 90%;
        margin: 20px auto;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section h1 {
        font-size: 24px;
    }

    .signup {
        flex-direction: column;
        width: 100%;
    }

    .signup input,
    .signup button {
        width: 100%;
        border-radius: 3px;
    }

    .signup button {
        margin-top: 10px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .footer-bottom p {
        padding-left: 0;
        text-align: center;
    }

    .social-icons {
        margin-top: 10px;
    }

    .social-icons a {
        margin: 5px;
    }

    .menu-toggle {
        display: flex;
        margin-left: auto;
    }

    .nav-dropdown .dropdown-content {
        position: static;
        width: 100%;
        box-shadow: none;
        background: #eee;
    }
}